/* 
----------UNIVERSAL STYLES----------
*/
* { 
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    margin: 0;
    
}

body {
    font-family:'Source Sans Pro', sans-serif;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    line-height:21px;
}

/* 
-------------------------------- 
--------- MAIN SECTION ---------
--------------------------------
--------------------------------


*/

h1, h2, h3, .navi {
    font-family: 'Varela', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,1);
}

ul {  
    padding: 0;}
li { 
    display: inline;
}

/* 
-.wrap is the body, it creates the 30px margins on either side. Theres an additional margin on the right as part of the <aside> tag, but not the for the featured content

-I learned that There is a secondary wrap with a -30px margin-left on the real website. This might be to fix the images from being 60px away from the left edge. I had been trying to work it out.
*/

#main-wrap {
    max-width: 1360px;
    padding: 0 30px;
    margin: 0 auto;
}

/* 
-In this header tag, the top padding is 30px total, but the border is 6px, so I only did 24px; 6+24=30
*/

header {
    border-top: 6px solid #000;
    padding: 24px 0 40px 0 ;
    
}

/* 
-Make sure to add a @media query to reduce the logo later on in smaller screens.
*/

.logo {
    max-width: 80px;
}

/*  
---------------------------------- 
--------- NAVI SECTION -----------
----------------------------------
----------------------------------

-Vertical-align, I initially did it on the .navi tag, heheehe....

-I noticed theres a ::after (It's some kind of special dot.. Ill find out what it is..) element inbetween the menu items, I didn't account for it so I will have to add it + edit the values on the margin between each menu item etc...


*/

#main-nav {
    width: 100%;
    height: 60px;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    vertical-align: middle
}

.navi li {
    ;
    vertical-align:middle;
    text-transform: uppercase;
    line-height: 30px;
}

/* This ::after for the dot between each li of .navi */
.navi li::after {
    content: "•";
    margin:0 20px 0;
    color: rgba(0,0,0,.1);
}

/* This one is for the last "child" of the .navi ul won't have a ::after displayed at the end of it. So there isn't an extra dot at the end of the .navi block */
.navi li:last-child::after {
    display:none;
}

/*Pagination---
*/
.pagination {
    display: inline-block;
    position:relative;
    right:-1px ;
    /* This attibute above is a bit of a quik-fix, need to line is up correctly */
    float: right;
    
}

/* 
This div .next-link : the padding was used to cover the gap that there is between the main-content and the footer ad. 

Haven't found a way to fix it but i'm sure it's simple, probably have extra code somewhere i need to remove to replace.

Right now all i can do is this, the border-right is only there to cover the gap, but it doesn't look right because the border box is within, so it shows up as a border within a border.

'*/

.next-link {
    padding: 9px 40px;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 18px;
    color: #777;
    border-top:1px solid rgba(0,0,0,.1) ;
    border-left:1px solid rgba(0,0,0,.1) ;
    border-right:1px solid rgba(0,0,0,.1) ;
}



/* 
---------------------------------- 
--------- IMAGES SECTION ---------
----------------------------------
----------------------------------

-add .post-img to the main-content images so they get a border outline too
*/

.post-img {
    max-width: 100%;
    height: auto;
    display: inline;
    border: 1px solid rgba(0,0,0,.1);
}

.ad-img {
    max-width:100%;
    height: auto;
    border: 1px solid rgba(0,0,0,.1);
}

.aside-img {
    float: right;
}

.credits img{
    width: 32px;
}


/* 
-----------------------------------
--------- ADSENSE SECTION ---------
-----------------------------------
-----------------------------------

-I forgot to pause adblock so i was missing this, I couldn't see the add styling which is an essential part of the website layout.

-in order to get the correct measurements, I had to inspect the elements straight from the browser rather than calculating them on photoshop, Like i did for the rest of the layout.

*/
/* 
middle adsense----------
*/

#mid-adsense, #foot-adsense {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);

}

.ad-frame {
    height: 90px;
}

/* 
aside adsense----------
*/

#sidebar {
    float: right;
    width: 330px;
    margin-top: 50px;
}



/* 
------------------------------------
--------- FEATURES SECTION ---------
------------------------------------
------------------------------------


-I found out that the featured styling has a -30px in order to balance out the padding on the featured block padding. I have to add the -30px margin on the content blocks too.
*/

#features {
    margin-left: -30px;
    margin-top: 40px;
    
}

.feat-block {
    max-width: 33.3334%;
    margin:0 auto ;
    padding-left:30px;
    float: left;
}

.feat-block p, h2{ 
    text-align: left;
    margin: 30px 0 20px 0;
}

/*-- Feature MediaQueries --

At the 1100px mark there's a reduction in margins, i'm assuming its reduced by half

This is for the medium width Feature */
@media all and (min-width: 770px) and (max-width: 1100px){ 
    .feat-block {
        padding-left: 15px;
}
    
}

/*  
----------------------------------------
--------- MAIN CONTENT SECTION ---------
----------------------------------------
----------------------------------------

-So i should've put both the sidebar+main content in a div
i forgot and i wondered why when i floated the main content, the footer would shoot up above it?!
-I will now create a div to nest both the content+sidebar so it will all function properly.

*/
#content {
    width: 100%;
}

#main-section {
    width: calc(100% - 330px);
    /* These values above are new to me, but so awesome!
        -learned about how you need to have spaces between the values inside the brackets for it to work.
    */
    position: relative;
    float: left;
    border-right: 1px solid rgba(0,0,0,.1);
}


.main-block {
    position: relative;
    max-width: 33.3334%;
    margin-top: 50px;
    float: right;
}

/* 
-So what i learnt below is:
    
    -Overflow:is what happens to what overflows from the box
    
-text-overflow: What method will the browser show the overflow in.. so far i know ellipsis makes it end in a "..."
    
-white-space: changes how the "whitespace" inside the element is handled by the browser, nowrap seems to only show what is within the immediate box without having to add new lines, and doesn't preserve, it hides "overflows" 
        
-So the combo here is, the white-space makes it so nothig outside the box can be show, the text-overflow makes it so any text that is overflowing and clipped by the box ends in ...(continued), and this is achieved by letting the text overflow outwards by the overflow

----correct me if I'm wrong...pls...
*/

.main-block h2 {
   text-align: left;
   color: rgba(0,0,0,1);
    overflow: hidden;
   text-overflow: ellipsis;
    white-space: nowrap;
    
}

.main-block p {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


/* 
This div class called even is nested within .main-block with a margin right of 30px to create a space between each div.

without moving the content posts out of the flow of the float. the box would become too big if i gave it a margin of 30px.
*/
.even {
    margin-right: 30px;
}

/*-- Main Content MediaQueries --*/

/* This is for the mid-screen size */
@media all and (min-width:770px) and (max-width: 1100px){ 
    .main-block {
    position: relative;
    max-width: 50%;
    }
    
    .even {
        margin-right: 15px;
    }

}

/* 
---------------------------------- 
--------- BOTTOM SECTION ---------
----------------------------------
----------------------------------
*/
/* 
 Rawz----------
*/

.rawz {
    padding: 20px 0 40px;
    font-size: 18px;
    line-height: 32px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    
    
}
.rawz-submit { 
    width: 50%;
    margin: 0 auto;
}

.rawz-img {
    width: 150px;
}


a.submit-btn {
    display: block;
    margin: 30px auto 0;
    padding: 8px 4px 8px 3px;
    width: 200px;
    
    border: 3px solid rgba(0,0,0,1);
    border-radius: 2px;
    
    text-align: center;
    font-family: 'Varela';
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    /* 
    I need to get to grips with transitions for different states here.. meanwhile this will remain hidden....
    transition: all ease .3s;
    */
}

/* 
So in the photoshop screenshot, the rawz images dont line up with the grid.
I will align my images for the sake on it.
-they will be split into 3 columns of 33.3334%
-Each gap between each column is 30px, and each image will have a 30px gap between eachother also.
*/


/* 
--------------------------
----------Footer----------

*/

.footer {
    margin:30px 0 ;
}

.tagcloud {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

h3.tag-title {
    text-align: left;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,1);
}



li.tag-term {
    display: block;
    line-height: 190%;
    position: relative;
    width: 25%;
    float: left;
    text-align: left;
    text-transform: capitalize;
}

/* Credits go to.. */

.credits {
    width: 100%;
    margin-top: 14px;
}

.credits p{
    float: left;
    text-align: left
}

.social {
    display: block;
    float: right;
}

/*
-- Footer MediaQueries --
-------------------------
*/
/* This is for the mid-screen size */
@media only screen and (min-width:770px) and (max-width: 1100px){ 
    li.tag-term {
        width: 33.3334%;
    }
}
/* This is for the low-screen size */
@media only screen and (max-width: 770px){
    body {background-color: aqua;}
    .tagcloud {
        display: none;
    }
    .credits {
        margin-top: 7px;
    }
    .credits p{
        float: none;
        text-align: center;
        }
    .social {
        float: none;
    }
}


/* 
-----------Clearfix----------
-----------------------------

Still reading into the specifics of this, I'm not entirely sure what clearfix is actually doing, or how it works.
in order to put it to good use I feel I have to understand the specifics for what clear does and such.

*/

.clearfix::after {
	clear: both;
	display: block;
	content: " ";
	height: 0px;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}